@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Log Collector Test</h1>
    <p>Everytime this page loads, a series of log entries are created.</p>
</div>
